@import url('https://fonts.googleapis.com/css?family=Abel');
html, a {
color: #0DE00D
}
body {
overflow-x: hidden;
padding-bottom: 20px;
background-color:#F4F4F4;
height:100%;
width:100%;
float:left;
font-family:Abel;
}
footer {
padding: 30px 0;
}
#map{
	#width:100%;
	#height:300%;
}
.navbar-form{
	color:white;
	float:left;
}
.navbar{
	width:100%;
	background-color:#92D050;
	float:left;
	margin:0px auto;
	padding: 0px;
	height:18%;
}


.navbar-fixed-top{
	position:relative;
}
.content{
	background-color:#F4F4F4;
	width:50%;
	margin:0px auto;
	padding:0px;
}
.contentblock{
	background-color:#F4F4F4;
}
.container{
	background-color:#F4F4F4;
	width:70%;
}
img{
	width:20%;
}