@CHARSET "ISO-8859-1";

 /*Michael Crowther*/

#filter{
	background-color: #73AF55;
	padding: 10px 1%;
}

body{
	background-color: #fff;
}

.productResult{
	
	margin: 10px 0;
	
	
}

.sortBy{
	padding: 0;
	margin: 0;
}


button{
	color: #fefefe;
	background-color: #241828;
	border: none;
	padding: 10px 5%;
}

.productSmallView{
	margin-bottom: 10px;
}


.resultsPane{
	margin: 5px 0;	
}

.fr{
	float: right;
}

.imgWrapper, .resultDesc{
	
	position: relative;
	float: left;
	width: 100%;
	padding: 5px 0;
	
}


.imgWrapper div{
	position: absolute;
	bottom: -10px;	
} 

.onHover{
	position: relative;
	width: 100%;
	float: left;
		z-index: 10;
	background-color: gray;
	opacity: 0.8;
}



.star, .basket{
	font-size: 4rem;
	text-decoration: none;
}

.star{
		position: absolute;
	
	right: 10px;

}

.star a:hover,
.basket a:hover{
	color: #967505;
		text-decoration: none;
		
	
}


.basket{
		position: absolute;
	
	left: 10px;
}

.ResultsPanel{
	float: left;
	width: 100%;
}











