body {
	background-color: #F4F4F4;
}

.button {
    background-color: #4CAF50; 
    border: none;
    border-radius: 10px;
    color: white;
    width: 31%;
	margin: 10px 1%;
	padding: 30px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgrey;
    
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #5dce49;
    font-size: 25px;
   
}

.button1:hover {
    background-color: #5dce49;
    color: white;
}

.button2 {
    background-color: #5dce49; 
    color: black; 
    border: 2px solid #5dce49;
	width: 8%;
	margin: 10px 1%;
	padding: 10px 0px;
	font-size: 100%;
}

.button2:hover {
    background-color: white;
    color: black;
	
}

.element {
position: fixed;
bottom: 0;
right: 0;
}



h1 

{
    font-size: 250%;
    font-family: "Abel"
}

h2 {
    font-size: 200%;
    font-family: "Abel"
}

p {
    font-size: 120%;
    font-family: "Abel"
}

#wrapper {
	background: #fff;
	width: 80%;
	margin: 0 auto;
	
}

* {
margin: 0;
}
html, body {
height: 100%;
}

#footer {
	background-color: #F4F4F4;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
}

