

@CHARSET "ISO-8859-1";
/*Michael Crowther*/
* {
	box-sizing: border-box;

}

body{
	background-color: #adadad;
}
.sidebar {
	width: 18%;
	margin: 0 1%;
	float: left;
}

.sidebar, .content{
	height: 90%;
}

body{
	height: 98%;
}

.sidebar div {
	margin: 10px 0;
	float: left;
	width: 100%;
}

.content {
	width: 80%;
	float: left;
	border-left: 1px solid black;
}

input, inputText {
	width: 100%;
	float: left;
	background-color: #c7c7c7;
	
}
tr:hover td{
	background-color: #FFF;
}
nav {
	width: 100%;
	float: left;
}

nav .navButton {
	float: left;
	width: 48%;
	margin: 10px 1%;
}

main {
	width: 100%;
	float: left;
}

footer, .footerWrapper {
	float: left;
	width: 100%;
}

footer{
	height: 2%;
}

.footerWrapper div{
	float: left;
	width: 18%;
	padding: 0 1%;
	margin: 10px 1%;
}


main div, main nav {
	width: 90%;
	margin-left: 5%;
	float: left;
}

main nav input[type="submit"] {
	padding-top: 10px;
	padding-bottom: 10px;
}

.login{
	padding-top: 25%;
	padding-left: 10%;
	width: 60%;
}

#loginBox #loginBox2{
	color: white;
}

#loginButton{
	color: white;
}

.table table-hover{
	overflow: scroll;
	width:50%;
  table-layout: fixed;
}
