.form{
	width: 80%;
	margin:5%;
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
}
	
.form label {

	padding: 5px 5px 10px 5px;
	display: inline-block;
	width: 20%; 
} 

.label{
	font-family: "Abel";
	align: left;
	margin-left: 2%;
} 
	

#search{
	width: 50%;
	float: left;
	

}

#login, #register{
	width: 50%;
	align: center;
	margin-left: 24%;
	font-size: 100%;
	display: inline-block;
} 
		





	