@font-face {
    font-family: Abel;
    src: url("../fonts/Abel-Regular.ttf");
}

@import url("login.css");
@import url("catalogue.css");
@import url("home.css");
@import url("faq.css");
@import url("product.css");



.navbar-wrapper{
	position: relative;
}

	
nav{
	background-color: #73AF55;
	padding: 5%;
}

*{
	box-sizing: border-box;
	line-height: 1.4;
	font-family: "Abel", Helvetica;	
	
}
