@import url("login.css");
@import url("catalogue.css");
@import url("home.css");
@import url("faq.css");
@import url("product.css");

@font-face {
    font-family: Abel;
    src: url("../fonts/Abel-Regular.ttf");
}

.navbar-wrapper{
	position: relative;
}


*{
	box-sizing: border-box;
	line-height: 1.4;
	font-family: "Abel", Helvetica;	
	
}
