@CHARSET "utf8";

html {
}

body {
background-color: #58d68D;
width: 100%;
margin-left:auto;
margin-right: auto;
}

#MAIN
{
width: 50%;
margin: 0px auto;
}
.NAVIGATION 
{background-color: #00004d;
color: #E5E4E2;
padding: 0px 0px 0px 0px;
width: 100%;
display: table;
}
.NAVIGATION ol
{
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

.NAVIGATION  li
{
display: table-cell;
text-align: center;
vertical-align: middle;
float: left;
width: 30%;
}

#IMAGE
{
width: 100%;}

#PRODUCT
{
text-align:center;
width: 50%
}

#rating
{
text-align: center
}