@import url('https://fonts.googleapis.com/css?family=Abel');
#mapImage {
		width:40%;
}
#image{
	width:100%;
}
.wish1{
	width:40%;
	float:left;
	color:blue;
}
.wish2{
	width:40%;
	float:left;
	color:blue;
}