#suggested{
	width:10%;
	float:left;
}
#quantity{
	width:10%;
	float:left;
}
#productName{
	width:10%;
	float:left;
}
#productID{
	width:10%;
	float:left;
}
#price{
	width:10%;
	float:left;
}
#Row{
}
#form{
	width:90%;
	float:left;
}