@CHARSET "ISO-8859-1";



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.content {
		width: 98%;
		margin: 0 1%;
	}
	
	
	#mapImage{
	width: 100%;
	}
	
	
	.login, .register{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.quantityChange .col-sm-4{
	padding-left: 0;
	padding-right: 0;
    margin-left: 15px;
    margin-right: 15px
}
	
	
}