.offer{
	float:left;
	width: 25%;
}

#currentOffers{
	float:left;
	padding-top:5%;
}

#popularOffers{
	float:left;
	padding-top:5%;
}

#pastOffers{
	float:left;
	padding-top:5%;
	padding-bottom: 5%;
}