@CHARSET "ISO-8859-1";

/*Michael Crowther*/
#filter {
	background-color: #73AF55;
	padding: 10px 1%;
}

body {
	background-color: #fff;
}

.productResult {
	margin: 10px 0;
}

.sortBy {
	padding: 0;
	margin: 0;
}

button {
	color: #fefefe;
	background-color: #241828;
	border: none;
	padding: 10px 5%;
}

.productSmallView {
	margin-bottom: 10px;
}

.resultsPane {
	margin: 5px 0;
}

.fr {
	float: right;
}

.imgWrapper, .resultDesc {
	position: relative;
	float: left;
	width: 100%;
}

.imgWrapper div {
	position: absolute;
	bottom: 5px;
}

.onHover {
	position: relative;
	width: 100%;
	float: left;
	z-index: 10;
	height: 100%;
	margin-bottom: -5px;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}



.ResultsPanel {
	margin: 5px 0;
	float: left;
	width: 100%;
}

.resultDesc h2 {
	padding: 0;
	margin: 0;
}

.star, .basket{
	font-size: 4rem;
	text-decoration: none;
	bottom: 5px;
}
.star a, .basket a{
		color: white;
	
}


.star {
	position: absolute;
	right: 10px;
}
.basket {
	position: absolute;
	left: 10px;
}
.star a:hover{
	color: #967505;
	text-decoration: none;
}


.basket:hover  a{
		color: #967505;
	text-decoration: none
}


.resultSingleWrapper{
	margin-bottom: 10px;
}

.marginBottom{
	margin-bottom: 10px;
}

.selectProduct{
	position: abolsute;
	top: 10px;
	left: 10px;
	font-size: 4rem;
	 bottom: 55px !important;
}


.glyphicon.glyphicon-star.selected{
		color: #967505;
}


.glyphicon.glyphicon-star.selected:hover{
		color: white;
}

.glyphicon.glyphicon-eye-open{
	color:white;
}








