#info{
	float:left;
}

#recommendations{
	
	margin-top:5%;
	margin-bottom: 5%;
}

#thePicture{

}

#theButton{
	width:50%;
}

#delivery{
	margin-top:5%;
	maring-bottom:5%;
}

#recomPic{
	padding: 5px;
}
