@import url('https://fonts.googleapis.com/css?family=Abel');
#productBox {
		width:100%;
		float:left;
		background-color:white;
}
#productReview{
		width:100%;
		float:left;
		background-color:green;
}
#productImage{
	width:30%;
	float:left;
	background-color:pink;
}

#reviewText{
	width:70%;
	float:left;
	height:auto;
	background-color:white;
	padding:1%;
}